<style>
.first img{
    float:left;
    width:50%;
}
</style>


<body>


    

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slids -->
                          <div class="col-lg-12 text-center">
                              <div class="carousel-inner">
                                <div class="item active first">
                                  <%= image_tag 'image_1'%> <%= image_tag 'image_7' %>
                                </div>
                                <div class="item first">
                                    <%= image_tag 'image_3' %> <%= image_tag 'image_4' %>
                                </div>
                                <div class="item first">
                                    <%= image_tag 'image_5' %><%= image_tag 'image_6' %>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="brand-before text-center">
                <small>Welcome to</small>
            </h2>
            <h1 class="brand-name text-center"> 하루디저트</h1>  
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>FOOD PHILOSOPHY</strong>
                    </h2>
                    <hr>
                   
                    <hr class="visible-xs">
                    <p class="content-color">1. Eat Real Food 
                    <br>
                    2. Enjoy every mouthful, Food is fun 
                    <br>
                    3.Buy food with thought, Eat with care
                    <br> 
                    4.Focus mostly on plants
                    <br>
                    5.Don't waste, Share or keep for later
                    <br>
                    6.Find balance, don't diet
                    <br>
                    7.Don't eat anything your great grandmother wouldn't recognise as food 
                    <br>
                    8.Listen to your body, your body know "BEST"!
                    <br><br><br><br>
                    by deliciously Ella

                    
                </div>
            </div>
        </div>

       

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy;dessert for a day 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
